<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cfsuman.me.kidoni">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".KidoniApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AlphabetActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MathActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".NumbersActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ShapesActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AlphabetDetailsActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AdditionActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SubtractionActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MultiplicationActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DivisionActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".SimpleRecyclerViewActivity" />
        <activity android:name=".CountryActivity"
            android:parentActivityName=".MainActivity"
            android:configChanges="orientation|screenSize"
            />

        <!-- Include the AdActivity configChanges and theme. -->
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />
    </application>

</manifest>